

/* Sección Blog */
.blog {
  padding: 40px 20px;
  background-color: #222;
}

.blog-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.blog-post {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s;
  display: flex;
  gap: 20px;
  align-items: center;
}

.blog-post:hover {
  transform: translateY(-10px);
}

.blog-post img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  flex-shrink: 0;
}

.blog-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.blog-post .fecha {
  color: #1E90FF;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.blog-post p {
  margin-bottom: 15px;
}
