

/* Sección Contacto */
.contacto {
  padding: 40px 20px;
  background-color: #222;
  text-align: center;
}

.contacto form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contacto input,
.contacto textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #111;
  color: #FFFFFF;
}

.contacto textarea {
  resize: vertical;
  min-height: 150px;
}

.mensaje-exito {
  color: #39FF14;
  margin-top: 20px;
  display: none;
}
