/* Sección de login */
.login {
  padding: 40px 0;
  background-color: #222;
}

.login form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.login label {
  margin: 10px 0 5px;
}

.login input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #111;
  color: #fff;
}

.mensaje-error {
  color: #FF4444;
  margin-top: 10px;
  text-align: center;
  display: none;
}