/* Sección de registro */
.registro {
  padding: 40px 0;
  background-color: #222;
}

.registro form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.registro label {
  margin: 10px 0 5px;
}

.registro input,
.registro select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #111;
  color: #fff;
}